@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
body {
  color: #fff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.custom-nav {
  height: 70px;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}
.custom-nav a {
  color: #fff;
  font-size: 14px;
}
.custom-nav a:hover {
  color: #ff8b38;
  transition-duration: 0.5s;
}
@media (max-width: 575px) {
  .navbar-collapse li {
    float: none;
  }
}
.main-section {
  background-image: url("../img/img.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
.main-section h1 {
  font-weight: 400;
  padding-top: 25px;
  font-size: 36px;
}
.main-section p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 35px;
  font-size: 14px;
}
.logo {
  padding: 110px 0 135px;
}
.divider {
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0;
}
.download-button {
  width: 135px;
  height: 40px;
  border: solid 2px #fff;
  display: block;
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.download-button:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition-duration: 0.5s;
}
@media (max-width: 575px) {
  .main-text {
    margin: 0 auto;
    text-align: center;
    max-width: 360px;
  }
  .main-text .divider {
    margin: 0 auto;
  }
  .main-text .download-button {
    margin: 0 auto;
  }
}
.main-form {
  text-align: center;
  max-width: 360px;
  float: right;
}
@media (max-width: 575px) {
  .main-form {
    float: none;
    margin: 20px auto 0;
  }
}
.main-form h2 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;
  padding: 20px 0;
  margin: 0;
}
@media (max-width: 574px) {
  .main-form h2 {
    margin-top: 20px;
  }
}
.main-form span {
  color: #ff8b38;
}
.main-form a {
  background-color: #ff8b38;
  color: #fff;
  display: block;
  padding: 23px 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 0 0 5px 5px;
}
.main-form a:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.5s;
}
.main-form input {
  width: 80%;
  margin-top: 30px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #f5f5f5;
  outline: 0;
}
.main-form input:focus {
  border-bottom: 1px solid #ff8b38;
  transition-duration: 0.5s;
}
.form-input {
  background-color: #fff;
  padding-bottom: 50px;
}
.awasome-section {
  padding: 110px 0;
  color: #000;
  text-align: center;
}
.awasome-section .divider {
  background-color: #ff8b38;
  margin: 30px auto;
}
.awasome-section i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  color: #ff8b38;
  text-align: center;
  font-size: 30px;
}
.awasome-section h2 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 43px;
}
.awasome-section h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 25px 0;
}
.awasome-section p {
  font-size: 14px;
}
.pricing-section {
  text-align: center;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.pricing-section .divider {
  margin: 30px auto;
  background-color: #ff8b38;
}
.pricing-section p {
  color: #000;
  padding-bottom: 110px;
}
.pricing-section h1 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 43px;
  color: #000;
}
.pricing-section h2 {
  background-color: #333333;
  border-bottom: 1px solid #f5f5f5;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 0;
  font-weight: 700;
  margin: 0;
}
.pricing-section h3 {
  background: #333333;
  color: #fff;
  font-size: 92px;
  font-weight: 700;
  line-height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
.pricing-section h3 span {
  font-size: 35px;
}
.pricing-section h4 {
  background: #333333;
  color: #999;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 5px solid #ff8b38;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.pricing-section h5 {
  background-color: #ff8b38;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
}
.option {
  margin: 0;
}
.option p {
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 0;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.top-m {
  margin-top: -30px;
}
a.active {
  color: #ff8b38;
}
.review-section {
  padding: 110px 0;
  color: #000;
  text-align: center;
}
.review-section .divider {
  background-color: #ff8b38;
  margin: 30px auto;
}
.review-section h2 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 43px;
}
.review-section h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding-top: 10px;
}
.review-section .box {
  position: relative;
  background: #f5f5f5;
  padding: 15px;
  text-align: left;
  max-width: 282px;
  color: #86878b;
  margin-bottom: 25px;
}
.review-section .box:after {
  top: 100%;
  left: 22%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
  border-width: 15px;
  margin-left: -15px;
}
.client-img {
  width: 35%;
  float: left;
}
.client-name {
  width: 65%;
  float: left;
  text-align: left;
}
.review {
  display: block;
}
@media (max-width: 767px) {
  .review {
    width: 100%;
    margin: 0 auto 20px;
    max-width: 300px;
  }
}
#menuLinks {
  float: right;
  line-height: 55px;
}
@media (max-width: 575px) {
  #menuLinks {
    display: none;
    width: 100%;
  }
}
#menuLinks li {
  display: inline-block;
  list-style: none;
}
@media (max-width: 575px) {
  #menuLinks li {
    display: block;
    background-color: #000;
    width: 100%;
    text-align: center;
  }
  #menuLinks li:last-child {
    margin-bottom: 20px;
  }
}
.navbar-brand {
  padding: 20px;
}
@media (max-width: 575px) {
  .mobile-menu {
    display: block!important;
    background: black;
  }
}
.hamburger i {
  font-size: 25px;
  display: none;
  padding: 20px;
}
@media (max-width: 575px) {
  .hamburger i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
